:root {
	--color-navigation: #deaaa6;
	--color-primary: #deaa86;
	--color-header: #b85d1c;	
	// --color-common-header: ba5d1c;

	--color-white: #FFF;
	--color-grey-1: #eee;
	--color-grey-2: #ddd;

	--color-grey-3: #BBB;	
	--color-grey-4: #AAA;
	--color-grey-5: #777;
	--color-grey-6: #555;
	--color-grey-7: #444;
	--color-grey-8: #333;
	--color-grey-9: #222;
	--color-grey-10: #111;

		
	--color-dark-1: #1c1c1c;
	--color-dark-2: #15141b;


	--shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
	// --line-bottom: solid 2px var(--color-grey-light-2);
	--shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
}